# Basics

## clear alias
alias c='clear'

## ls aliases
alias l="ls -lh"
alias la='l -A'
alias lg='l | grep'
alias lt="l -t"

## grep aliases
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias reg='egrep -r'

# GIT Aliases

alias cb='git rev-parse --abbrev-ref HEAD'
alias gpf='git push origin `cb` --force-with-lease'
alias ga='git add -A'
alias gc='git commit'
alias gac='git add -A && git commit -m'
alias gb='git branch'
alias gcb='git checkout -b'
alias gl='git log --oneline'
alias gss='git status -s'
alias gs='git status'
alias gitc='git checkout -- .'

# Reload/edit aliases

alias eb='vim ~/.bashrc'
alias sb='source ~/.bashrc'
alias ez="vim ~/.zshrc"
alias sz="source ~/.zshrc"
alias ev='vim ~/.vimrc'
alias ea='vim ~/.aliases'

# Daily Journal

alias dj='echo `date +%Y-%m-%d`.md | xargs touch'

# Ruby
alias bx='bundle exec'

# Tags

alias ct='ctags -R .'
alias ctl='ctags -R --fields=+l --languages=python --python-kinds=-iv -f ./tags $(python3 -c "import os, sys; print('"' '"'.join('"'"'{}'"'"'.format(d) for d in sys.path if os.path.isdir(d)))")'

## Ruby/Rails tags

alias rtags='ctags -R --languages=ruby --exclude=.git --exclude=log . $(bundle list --paths)'
alias ntags='ctags -R --exclude=.git --exclude=tmp .'

# Github CLI

alias gsh='gh codespace ssh'
